<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <title>BJJ Tracking App - Register</title>
      <%- include('./partials/head'); %>
  </head>
  <header>
  <%- include('./partials/header'); %>
  </header>

  <h1>User Page</h1>
  <body>

    <p>Under Construction</p>

  </body>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</html>